*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #fff;
}
p{
	cursor: default;
}
span{
	cursor: default;
}
#scroll a{
	position: absolute;
	z-index: 1;
	right: 50%;
	bottom: 5%;
	background-image: url(../img/scroll.png);
	height: 25px;
	width: 20px;
	opacity: .5;
}
.header{
	height: 100vh;
	min-height: 600px;
}
.head-wrap{
	width: 1170px;
	margin: 0 auto;
	overflow: hidden;
	height: 150px;
}
.pic-logo{
	margin-top: 53px;
	float: left;
}
.navbar{
	margin-top: 72px;
	overflow: hidden;
	float: right;
	text-transform: uppercase;
	margin-right: 75px;
}
.navbar li{
	list-style: none;
	float: left;
	margin-left: 50px;
}
/*.navbar li:first-child{
	margin-left: 0px;
}*/
.navbar a{
	display: block;
	text-decoration: none;
	font-family: 'lato regular', sans-serif;
	font-size: 15px;
	font-weight: 600;
	color: #515755;
	position: relative;
}
.navbar a:hover{
	color: #16211e;
}
.navbar a:before{
	content: "";
	opacity: 0;
	visibility: hidden;
	transition: .5s ease-in-out;
}
.navbar a:hover:before{
	content: "";
	opacity: 1;
	visibility: visible;
	position: absolute;
	left: -20px;
	top: 2px;
	width: 15px;
	height: 15px;
	background-image: url(../img/pointer.png);
	background-repeat: no-repeat;
}
.banner-wrap{
	width: 100%;
}
.salecont{
	width: 1170px;
	margin: 0 auto;
	position: relative;
}
.saleblock{
	position: absolute;
	top: 65px;
	font-family: 'open sans semibold', sans-serif;
	color: #fff;
	text-transform: uppercase;
	width: 600px;
}
.saleblock h1{
	text-shadow: 1px 1px 1px rgba(150,150,150,.1), -1px -1px 1px rgba(150,150,150,.1);
	font-size: 48px;
}
.saleblock>h1>span{
	background-color: #fd8d14;
}
.saleblock p{
	text-shadow: 1px 1px 1px rgba(150, 150, 150, .15);
	margin-top: 30px;
	width: 350px;
	font-size: 22px;
	opacity: .85;
	word-spacing: -2px;
}
.saleblock p>span{
	text-decoration: underline;
}
#salesscroll{
	position: relative;
	width: 315px;
}
#salesscroll:before{
	content: "121323123";
	position: absolute;
	visibility: hidden;
	opacity: 0;
}
.btn{
	display: block;
	margin-top: 30px;
	line-height: 90px;
	background-color: #ff9b2e;
	border-radius: 5px;
	box-shadow: 0px 5px 0px #ff8500;
	/*border-bottom: 5px solid #ff8500;*/
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-size: 30px;
	transition: .1s ease-in-out;
}
.btn span{
	cursor: pointer;	
}
.btn:hover #salesscroll:before{
	visibility: visible;
	opacity: 1;
}
.btn:hover{
	box-shadow: 0px 3px 0px #ff8500;
	transform: translateY(2px);
}
.btn:active{
	transform: translateY(3px);
	box-shadow: 0px 2px 0px #ff8500;
}
.pic-container{
	min-height: 85vh;
	background-image: url('../img/banner.jpg');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.pic-container img{
	display: block;
	min-width: 100%;
	height: 800px;
}
.pic-after{
	text-transform: uppercase;
	font-family: 'open sans regular', sans-serif;
	text-align: center;
	font-size: 24px;
	height: 35px;
	margin-top: 60px;
	cursor: default;
}
.pic-after span:first-child{
	color: #ff9b2e;
	display: inline-block;	
	position: relative;
}
.pic-after span:first-child:before{
	content: "";
	position: absolute;
	left: -715px;
	display: block;
	height: 100%;
	width: 709px;
	top: 13px;
	background-image: url(../img/sep1.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.pic-after span:last-child{
	color: #16211e;
	display: inline-block;
	position: relative;
}
.pic-after span:last-child:before{
	content: "";
	position: absolute;
	right: -715px;
	display: block;
	height: 100%;
	width: 709px;
	top: 13px;
	background-image: url(../img/sep2.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.content-wrap{
	clear: both;
	width: 1170px;
	margin: 0 auto;
	margin-top: 140px;
	display: flex;
	justify-content: center;
}
.container{
	text-align: center;
}
.contentpic{
	display: block;
	margin: 0 auto;
	width: 150px;
}
.container>h2{
	display: inline-block;
	font-family: 'open sans regular', sans-serif;
	font-size: 24px;	
	text-transform: uppercase;
	position: relative;
	cursor: default;
}
.container h2:hover{
	z-index: 1;
}
.container h2:hover:before{
	content: "";
	width: 100%;
	background-color: #ff9b2e;
	z-index: -1;
}
.container h2:before{
	transition-timing-function: linear;
	transition-duration: .25s;
	content: "";
	z-index: 0;
	position: absolute;
	height: 100%;
	width: 0;
}
.contentpic:hover+h2:before{
	content: "";
	width: 100%;
	background-color: #ff9b2e;
	z-index: -1;
}
/*Ниже - покраска заголовка при ховере х2 или пикчи*/

/* Ниже - псевдоэлементы шарики при ховере пикчи или заголовка */

/*.container h2:before{
	content: "";
	opacity: 0;
	visibility: hidden;
}
.contentpic:hover+h2:before{
	content: "";
	position: absolute;
	left: -20px;
	bottom: 25%;
	opacity: 1;
	visibility: visible;
	width: 15px;
	height: 15px;
	background-image: url(../img/pointer.png);
	background-repeat: no-repeat;
	transition: .5s ease-in-out;
}
.container h2:hover:before{
	content: "";
	position: absolute;
	left: -20px;
	bottom: 25%;
	opacity: 1;
	visibility: visible;
	width: 15px;
	height: 15px;
	background-image: url(../img/pointer.png);
	background-repeat: no-repeat;
	transition: .5s ease-in-out;
}
.container h2:after{
	content: "";
	opacity: 0;
	visibility: hidden;
}
.contentpic:hover+h2:after{
	content: "";
	position: absolute;
	right: -20px;
	bottom: 25%;
	opacity: 1;
	visibility: visible;
	width: 15px;
	height: 15px;
	background-image: url(../img/pointer.png);
	background-repeat: no-repeat;
	transition: .5s ease-in-out;
}
.container h2:hover:after{
	content: "";
	position: absolute;
	right: -20px;
	bottom: 25%;
	opacity: 1;
	visibility: visible;
	width: 15px;
	height: 15px;
	background-image: url(../img/pointer.png);
	background-repeat: no-repeat;
	transition: .5s ease-in-out;
}*/
.container p{
	font-family: 'lato regular', sans-serif;
	font-size: 15px;
	font-weight: 500;
	color: #515755;
	cursor: default;
}
.team-wrap{
	margin-top: 80px;
	min-width: 100%;
	height: 564px;
	background-color: #ff9b2e;
}
.team-container{
	width: 950px;
	margin: 0 auto;
	padding: 0px 150px;
}
.team-header{
	padding-top: 70px;
	text-align: center;
	color: #fff;
	font-family: 'open sans regular', sans-serif;
	font-size: 24px;
	text-transform: uppercase;
}
.team-header p{
	display: inline-block;
	position: relative;
}
.team-header p:before{
	content: "";
	position: absolute;
	left: -10px;
	bottom: 35%;
	height: 7px;
	width: 7px;
	background-image: url('../img/pointer2.png');
	background-repeat: no-repeat;
}
.team-header p:after{
	content: "";
	position: absolute;
	right: -10px;
	bottom: 35%;
	height: 7px;
	width: 7px;
	background-image: url('../img/pointer2.png');
	background-repeat: no-repeat;
}
.team-body{
	margin-top: 70px;
}
.team-body-pic-cont{
	float: left;
}
.team-body-pic-cont img{
	display: block;
	height: 250px;
	width: 250px;
}
.team-info1, .team-info2, .team-contact{
	margin-left: 325px;
}
.team-info1{
	font-family: 'open sans regular', sans-serif;
	font-size: 16px;
}
.team-info1 p:first-child{
	font-weight: 600;
	color: #fff;
}
.team-info1 p:last-child{
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
	opacity: .5;
	word-spacing: 3px;
}
.team-info2{
	margin-top: 40px;
	font-family: 'open sans regular', sans-serif;
	font-size: 15px;
	color: #fff;
}
.team-contact{
	margin-top: 30px;
}
.team-contact a{
	float: left;
	margin-left: 10px;
	display: block;
}
.team-contact a:first-child{
	margin-left: auto;
}
.fb{
	background-image: url('../img/facebook.png');
	height: 30px;
	width: 30px;
	transition: .3s ease-in-out;
}
.fb:hover{
	height: 30px;
	width: 30px;
	background-image: url('../img/facebookh.png');
}
.tw{
	background-image: url('../img/twitter.png');
	height: 30px;
	width: 30px;
	transition: .3s ease-in-out;
}
.tw:hover{
	height: 30px;
	width: 30px;
	background-image: url('../img/twitterh.png');
}
.gp{
	background-image: url('../img/google.png');
	height: 30px;
	width: 30px;
	transition: .3s ease-in-out;
}
.gp:hover{
	height: 30px;
	width: 30px;
	background-image: url('../img/googleh.png');
}
.proj-wrap{
	clear: both;
	margin-top: 70px;
}
.proj-container{
	width: 950px;
	margin: 0 auto;
	margin-top: 70px;
	padding: 0px 150px;
}
.showcase1{
	border-radius: 150px;
	width: 300px;
	height: 300px;
	background-image: url('../img/showcase1.png');
	-webkit-background-size: cover;
	background-size: cover;
	box-shadow: 2px 3px 5px rgba(150,150,150,1);
}
.showcase1txt{
	font-family: 'open sans regular', sans-serif;
	color: #515755;
}
.showcase1txt h3{
	font-size: 32px;
}
.showcase1txt p:first-child{
	margin-top: 35px;
}
.showcase1txt p{
	margin-top: 20px;
	font-size: 14px;
}
*[class^="revealator"] {
	width: 600px;
	display: inline-block;
	vertical-align: top;
}
*[class^="revealator"]:last-child{
	margin-left: 80px;
	width: 100px;
}
.foot-wrap{
	clear: both;
	margin-top: 70px;
}
.location{
	margin-top: 40px;
	border-top: 3px solid #ff9b2e;
}
.location a{
	display: block;
	width: 100%;
	height: 400px;
	background-image: url(../img/location.png);
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
}
.contact-wrap{
	width: 100%;
	background-color: #ff9b2e;
}
.contacts{
	padding-top: 10px;
	width: 1170px;
	margin: 0 auto;
	height: 75px;
	font-family: 'open sans semibold', sans-serif;
	font-size: 14px;
	color: #fff;
	text-align: center;
}
.contact-block{
	display: inline-block;
	margin-left: 50px;
	text-align: left;
}
.contact-block:first-child{
	margin-left: auto;
}
.contact-block h4{
	font-size: 16px;
	text-shadow: 1px 2px 1px rgba(150,150,150,.5);
}
.contact-info{
	margin-top: 7px;
}
.contact-info p{
	opacity: .9;
}
.connect-wrap{
	width: 100%;
	background-color: #fff;
}
.connections{
	width: 1170px;
	margin: 0 auto;
	height: 30px;
	line-height: 30px;
	font-family: 'open sans semibold', sans-serif;
	font-size: 12px;
	color: #16211e;
	text-transform: uppercase;
}
.connections h4{
	opacity: .5;
	float: left;
}
.connections h4>a{
	color: #ff8500;
}
.connections>.team-contact{
	margin-top: auto;
	float: right;
}
.connections>.team-contact>a:hover{
	background-image: ;
}