/*		!!!GENERAL!!!		*/
*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #000 !important;
}
@font-face{
	font-family: Optimus;
	src: url(../fonts/OptimusPrinceps.ttf);
}
@font-face{
	font-family: OptimusSB;
	src: url(../fonts/OptimusPrincepsSemiBold.ttf);
}
section{
	max-width: 650px;

	margin: 0 auto;
	margin-bottom: 250px;
}
h5{
	text-align: center !important;
}
.wrapper{
	width: 100%;
	height: 100vh;

	position: relative;	

	background-image: url(../img/title.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: 73% center;
	background-repeat: 	no-repeat;	
}
.wrapper::after{
	content:"";
	display: block;

	width: 100%;
	height: 300px;

	position: absolute;
	bottom: 0;
	z-index: 1;

	background-image: url(../img/bgTransition1.png);
}
/*top-head-bar*/
.top-head{
	padding-top: .1%; /*(padding for page logo)*/
}
/*top image logo*/
.logo{
	position: relative;
	z-index: 50; /*for mobile hidden menu*/

	max-width: 45%;
	margin: 0 auto;
	display: block;	
}
.logo img{
	display: block;
	width: 100%;
}
.content{
	max-width: 650px;
	margin: 0 auto;

	color: 	#fff;
	background-color: grey;
}
/*nav-bars*/
/*mobile(hidden by default)*/
#mobile{
	display: none;
}
#mobile-nav{
	position: fixed;
	top: -100%;
	z-index: 5;

	width: 100%;
	height: 100%;

	background-color: rgba(0,0,0,.8);

	transition: .5s ease-in-out;
}
.links{
	position: relative;
	left: 10%;
	top: 20%;

	list-style: none !important;
}
.links a{
	display: inline-block;

	font-family: Optimus;
	font-size: 2em;
	color: #fff;

	transition: .1s ease-out;
}
.links a:hover{
	color: #888585 !important;
	text-decoration: none;

}
.links a:active{
	color: #888585 !important;
}
.closeMobileMenu{
	position: absolute;
	top: 90%;
	left: 10%;

	font-family: Optimus;
	font-size: 2em;
	color: #fff;
}
.closeMobileMenu:hover{
	color: #888585 !important;
	text-decoration: none;
}
.social{
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translateX(-50%);
}
.social li{
	display: inline-block;
}
.social a{
	margin-right: 55%;

	color: #fff;
	opacity: .75;

	transition: .2s ease-in-out;
}
.social li:last-child a{
	margin-right: auto;
}
.social a:hover{
	color: #fff;
	opacity: 1;
}
.social i{
	font-size: 2em;
}
#toggle{
	display: none;
}
.toggle-contain{
	position: fixed;
	left: 50%;
	transform: translateX(-50%);


	z-index: 4;
}
.toggle-link{
	color: white;
	font-family: OptimusSB;
}

/*desktop*/
#horizontal{
	z-index: 999;
	position: absolute;
	top: 90%;
	margin-left: auto;
	margin-right: auto;
	right: 0;
	left: 0;

	text-align: center;
	font-family: OptimusSB;
	font-size: 2em;
}
#horizontal a{
	display: inline-block;
	margin-right: 5%;
	
	color: #c4c09f;
	text-decoration: none !important;
	opacity: .75;

	transition: .5s ease-in-out;
}
#horizontal a:hover{
	opacity: 1;
	color: #c4c09f !important;
}
#horizontal a:last-child{
	margin-right: auto;
}
/*bonfire particles*/
#particles-js{
	position: absolute;

	height: 55%;
	width: 60%;

	right: 1%;
	bottom: 12%;

	background-color: transparent;
}
#intro{
	margin-top: 250px;
	background-color: #8998af;
}
#rem{
	background-color: #9b63a3;
}
#story{
	background-color: #7a8e68;
}
#other{
	background-color: #897151;
}
@media only screen and (max-width: 768px){
	#horizontal{
		display: none;
	}
	#mobile{
		display: block;
	}
}