/*
0 - 600px : phone
600 - 900px: tablet portrait
900 - 1200px: tablet landscape
*/
/*
$breakpoint argument selector:
- phone
- tab-port
- tab-land

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 48.75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #333; }

.heading-primary {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  animation: fadeIn;
  animation-duration: 1.5s;
  backface-visibility: hidden; }
  .heading-primary--sm, .heading-primary--lg {
    display: block;
    letter-spacing: 2rem; }
    @media (max-width: 75em) {
      .heading-primary--sm, .heading-primary--lg {
        letter-spacing: 1rem; } }
    @media (max-width: 37.5em) {
      .heading-primary--sm, .heading-primary--lg {
        letter-spacing: .1rem;
        font-size: 3rem; } }
  .heading-primary--lg {
    font-size: 5rem;
    letter-spacing: 1.1rem; }
    @media (max-width: 75em) {
      .heading-primary--lg {
        font-size: 4.5rem;
        letter-spacing: 0.1rem; } }
    @media (max-width: 37.5em) {
      .heading-primary--lg {
        font-size: 4rem;
        letter-spacing: normal; } }

.heading-info {
  display: block;
  animation: fadeIn;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: backwards; }
  .heading-info--link {
    margin-top: 1rem;
    display: inline-block;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    border-radius: 2rem;
    padding: .35rem 1.35rem;
    transition: all .3s;
    box-shadow: 0 1rem 1rem rgba(51, 51, 51, 0.25); }
  .heading-info--address {
    display: block; }
    @media (max-width: 37.5em) {
      .heading-info--address {
        width: 70%; } }
  .heading-info--link:hover {
    background-color: #B58B70;
    color: #fff;
    box-shadow: 0 1rem 1rem rgba(51, 51, 51, 0.35); }
  .heading-info--link:active {
    transform: translateY(3px);
    box-shadow: 0 0.5rem 1rem rgba(51, 51, 51, 0.35); }

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: transparent;
  background-image: linear-gradient(to left top, #B58B70, #EEC1A4);
  background-clip: text;
  -webkit-background-clip: text;
  letter-spacing: .2rem; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.35rem;
      padding: 0 3rem; } }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.text-paragraph {
  font-size: 1.5rem; }
  .text-paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.heading-footer {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400; }
  .heading-footer--sm, .heading-footer--lg {
    display: block;
    letter-spacing: 1.15rem;
    font-size: 1.3rem; }
    @media (max-width: 37.5em) {
      .heading-footer--sm, .heading-footer--lg {
        letter-spacing: .9rem; } }
  .heading-footer--lg {
    font-size: 3.25rem;
    letter-spacing: .35rem;
    text-transform: uppercase; }
    @media (max-width: 37.5em) {
      .heading-footer--lg {
        letter-spacing: .2rem; } }

@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }

.u-center-text {
  text-align: center !important; }

.u-margin-bot-sm {
  margin-bottom: 1.5rem !important; }

.u-margin-bot-md {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bot-md {
      margin-bottom: 3rem !important; } }

.u-margin-bot-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bot-big {
      margin-bottom: 5rem !important; } }

.u-margin-bot-extra {
  margin-bottom: 10rem !important; }

.u-margin-top-sm {
  margin-top: 1.5rem !important; }

.u-margin-top-md {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-extra {
  margin-top: 10rem !important; }

.u-padding-none {
  padding: 0; }

.img-composition {
  position: relative; }
  .img-composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(51, 51, 51, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: .55rem; }
    @media (max-width: 56.25em) {
      .img-composition__photo {
        float: left;
        position: relative;
        width: 33.333333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .img-composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media (max-width: 56.25em) {
        .img-composition__photo--p1 {
          top: 1rem;
          transform: scale(1.35); }
          .img-composition__photo--p1:hover {
            left: 3rem; } }
    .img-composition__photo--p2 {
      right: 0;
      top: 2rem; }
      @media (max-width: 56.25em) {
        .img-composition__photo--p2 {
          top: -1rem;
          transform: scale(1.55);
          z-index: 50; } }
    .img-composition__photo--p3 {
      left: 20%;
      top: 10rem; }
      @media (max-width: 56.25em) {
        .img-composition__photo--p3 {
          top: 1.35rem;
          left: 0;
          transform: scale(1.15); }
          .img-composition__photo--p3:hover {
            left: -3rem; } }
    .img-composition__photo:hover {
      outline: 0.75rem solid rgba(181, 139, 112, 0.95);
      transform: scale(1.35) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(51, 51, 51, 0.5);
      z-index: 20; }
      @media (max-width: 56.25em) {
        .img-composition__photo:hover {
          z-index: 55; } }
  .img-composition:hover .img-composition__photo:not(:hover) {
    transform: scale(0.95); }

.btn-text:link, .btn-text:visited {
  text-decoration: none;
  display: inline-block;
  font-size: 1.4rem;
  border-bottom: 1px solid #B58B70;
  padding: 3px;
  color: #B58B70;
  transition: all .2s;
  background-image: transparent; }

.btn-text:hover {
  background-color: #B58B70;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(51, 51, 51, 0.15);
  transform: translateY(0); }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  padding: 1.5rem 4rem;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10rem;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  /* backface -visibility: hidden; */
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:focus, .btn:active {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(51, 51, 51, 0.2); }

.btn--white {
  background-color: #fff;
  color: #333; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.advantage-box {
  cursor: default;
  background: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(51, 51, 51, 0.55);
  transition: transform .3s;
  backface-visibility: hidden; }
  @media (max-width: 75em) {
    .advantage-box {
      backface-visibility: unset;
      padding: 1.5em 3em; } }
  @media (max-width: 37.5em) {
    .advantage-box {
      padding: 3em 5em; } }
  .advantage-box__icon {
    padding: 1px;
    font-size: 6rem;
    margin-bottom: 1.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #EEC1A4, #B58B70);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
  .advantage-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }
  .advantage-box__text {
    margin-top: 1rem; }

#lightSlider {
  text-align: center; }
  @media (max-width: 75em) {
    #lightSlider img {
      width: 70%;
      height: auto; } }
  @media (max-width: 56.25em) {
    #lightSlider img {
      width: 100%;
      height: auto; } }

ul.lSPager.lSGallery {
  margin: 0 auto !important;
  margin-top: 1.5rem !important; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 54rem; }
  .card__side {
    height: 54rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(51, 51, 51, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateX(-180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #EEC1A4, #3B3F2E); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #EEC1A4, #3B3F2E); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #EEC1A4, #3B3F2E); }
  .card:hover .card__side--front {
    transform: rotateX(180deg); }
  .card:hover .card__side--back {
    transform: rotateX(0deg); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #B58B70, #CAB083), url("../img/roman-curtain.jpg"); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #B58B70, #CAB083), url("../img/aus-curtain.jpg"); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #B58B70, #CAB083), url("../img/japan-curtain.jpg"); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(181, 139, 112, 0.85), rgba(202, 176, 131, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(181, 139, 112, 0.85), rgba(202, 176, 131, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(181, 139, 112, 0.85), rgba(202, 176, 131, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: #fff; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  @media (max-width: 75em) {
    .card {
      height: auto;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateX(0deg);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
          -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
      .card:hover .card__side--front {
        transform: rotateX(0deg); }
      .card:hover .card__side--back {
        transform: rotateX(0deg); }
      .card__details {
        padding: 1rem 3rem; }
      .card__cta {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 4rem 2rem 2rem 2rem; }
      .card__price-box {
        margin-bottom: 3rem; }
      .card__price-value {
        font-size: 4rem; } }

.contact-box {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 50%, transparent 50%), url("../img/contacts.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  border-radius: 5px;
  box-shadow: 0 1.5rem 4rem rgba(51, 51, 51, 0.35);
  padding: 3rem;
  position: relative; }
  @media (max-width: 75em) {
    .contact-box {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 60%, transparent 60%), url(../img/contacts.jpg); } }
  @media (max-width: 56.25em) {
    .contact-box {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 60%), url(../img/contacts.jpg); } }
  @media (max-width: 56.25em) {
    .contact-box {
      text-align: center; } }
  .contact-box__map {
    display: none;
    position: absolute;
    right: 7.5rem;
    top: 5rem;
    height: 350px;
    width: 350px;
    background: orangered;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.35);
    border-radius: 10px; }
    @media (max-width: 75em) {
      .contact-box__map {
        right: 3rem;
        top: 7rem;
        height: 285px;
        width: 285px; } }
    @media (max-width: 56.25em) {
      .contact-box__map {
        position: relative;
        box-shadow: none;
        top: 0;
        right: 0;
        margin: 0 auto;
        margin-bottom: 1.5rem; } }
    @media (max-width: 37.5em) {
      .contact-box__map {
        height: 200px;
        width: 225px; } }
  .contact-box__item {
    width: 40%;
    font-size: 1.4rem; }
    @media (max-width: 56.25em) {
      .contact-box__item {
        width: 100%; } }
    .contact-box__item strong {
      display: block;
      font-size: 2rem;
      color: #B58B70; }
    .contact-box__item--container {
      width: 40%;
      padding-top: 1.6rem;
      border-top: 1px solid #d8d8d8; }
      @media (max-width: 56.25em) {
        .contact-box__item--container {
          width: 100%; } }
    .contact-box__item--link:link, .contact-box__item--link:visited {
      display: inline-block;
      text-decoration: none;
      color: #B58B70;
      font-size: 1.6rem;
      padding: 3px;
      transition: all .2s; }
    .contact-box__item--link:hover {
      background-color: #B58B70;
      color: #fff;
      box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.15);
      transform: translateY(-2px); }
    .contact-box__item--link:active {
      box-shadow: 0 0.5rem 1rem rgba(51, 51, 51, 0.15);
      transform: translateY(0px); }

.row {
  margin: 0 auto;
  max-width: 114rem; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 65rem;
      padding: 0 3rem; } }
  @media (max-width: 37.5em) {
    .row {
      max-width: 55rem; } }
  @media (max-width: 75em) {
    .row {
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 6rem * 2) / 3); }
  .row .col-2-of-3 {
    width: calc(((100% - 6rem * 2) / 3) * 2 + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 6rem * 3) / 4); }
  .row .col-2-of-4 {
    width: calc(((100% - 6rem * 3) / 4) * 2 + 6rem); }
  .row .col-3-of-4 {
    width: calc(((100% - 6rem * 3) / 4) * 3 + 6rem * 2); }

.header {
  height: 95vh;
  background-image: linear-gradient(to bottom, rgba(238, 193, 164, 0.7), rgba(59, 63, 46, 0.95)), url(../img/header.jpg);
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); }
  @media (max-width: 37.5em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .header__text-box {
    display: block;
    width: 75%;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media (max-width: 37.5em) {
      .header__text-box {
        width: 100%; } }
  .header__contact-box {
    position: absolute;
    left: 1%;
    top: 1%;
    font-size: 1.4rem;
    letter-spacing: 0.1rem; }

.placeholder-for-menu {
  display: none;
  position: absolute;
  right: 1%;
  top: 2%;
  height: 5rem;
  width: 5rem;
  border-radius: 5rem;
  background: #fff;
  box-shadow: 0 1rem 1rem rgba(51, 51, 51, 0.25);
  animation: fadeIn;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: backwards; }

.footer {
  padding: 10rem 0;
  background-color: #333;
  color: #f7f7f7; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 8rem 0;
      font-size: 1.2rem; } }
  .footer__logo {
    text-align: center; }
  .footer__navigation {
    border-top: 1px solid #d8d8d8;
    padding-top: 2rem;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
      @media (max-width: 37.5em) {
        .footer__item:not(:last-child) {
          margin-right: 0;
          margin-bottom: 1.5rem; } }
    @media (max-width: 37.5em) {
      .footer__item {
        display: block; } }
  .footer__text {
    border-top: 1px solid #d8d8d8;
    padding-top: 2rem;
    color: #f7f7f7;
    width: 73%;
    float: right; }
    @media (max-width: 56.25em) {
      .footer__text {
        width: 100%;
        text-align: center;
        float: none; } }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #EEC1A4;
    box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.4);
    transform: scale(1.3); }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  text-align: center;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 5rem;
  right: 5rem;
  z-index: 100;
  box-shadow: 0 1rem 1rem rgba(51, 51, 51, 0.25);
  cursor: pointer;
  animation: fadeIn;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: backwards; }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 2rem;
      right: 1rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  z-index: 90;
  top: 5.5rem;
  right: 5.5rem;
  background-image: radial-gradient(#EEC1A4, #B58B70);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  animation: fadeIn;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: backwards; }
  @media (max-width: 56.25em) {
    .navigation__background {
      top: 2.5rem;
      right: 1.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 95;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 250%;
  transition: all .4s;
  transform: translateX(0); }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #EEC1A4;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  left: 0; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    display: inline-block;
    width: 3rem;
    height: 2px;
    background-color: #333; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.section-intro {
  padding: 26rem 0;
  margin-top: -20vh;
  background-color: #f7f7f7; }
  @media (max-width: 37.5em) {
    .section-intro {
      padding: 24rem 0 23rem 0; } }

.section-advantages {
  padding: 10rem 0;
  margin-top: -12rem;
  background-image: linear-gradient(to right bottom, rgba(238, 193, 164, 0.8), rgba(59, 63, 46, 0.8)), url("../img/advantages.jpg");
  background-size: cover;
  transform: skewY(-7deg); }
  .section-advantages > * {
    transform: skewY(7deg); }

.section-gallery,
.section-contacts {
  padding: 20rem 0;
  margin-top: -12rem;
  background-color: #f7f7f7; }

.section-gallery {
  padding-bottom: 25rem; }

.section-cards {
  padding: 10rem 0;
  margin-top: -12rem;
  background-image: linear-gradient(to right bottom, rgba(238, 193, 164, 0.8), rgba(59, 63, 46, 0.8)), url("../img/cards.jpg");
  background-size: cover;
  transform: skewY(-7deg); }
  .section-cards > * {
    transform: skewY(7deg); }

.section-contacts {
  padding-top: 22rem;
  padding-bottom: 9rem; }
