*{
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body{
  background-color: #f4f4f4;
  font-family: 'Segoe UI', 'OpenSansRegular', sans-serif; }

a{
  text-decoration: none; }

ul{
  list-style: none; }

.active:after{
  content: "";
  width: 100% !important;
  position: absolute;
  left: 0;
  top: 25px;
  height: 1.5px;
  background-color: #0E76BC; }

@font-face{
  font-family: 'Segoe UI', sans-serif;
  src: url('../fonts/SegoeUI.woff'); }

@font-face{
  font-family: 'OpenSansLight', sans-serif;
  src: url('../fonts/OpenSans-Light.ttf'); }

@font-face{
  font-family: 'OpenSansRegular', sans-serif;
  src: url('../fonts/OpenSans-Regular.ttf'); }

@font-face{
  font-family: 'OpenSansSemiBold', sans-serif;
  src: url('../fonts/OpenSans-SemiBold.ttf'); }

/* =========================================================== */

.wrapper{
  max-width: 1366px;
  margin: 0 auto; }
  .header{
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #fff; }
    .logo{
      display: flex;
      margin-left: 21px;
      line-height: 63px;
      justify-content: space-between; }
      .logo-image{
        display: block; }
      .logo-title{
        margin-left: 18px;
        line-height: 52px;
        color: #0E76BC;
        font-weight: 500; }
    .top-nav{
      display: flex;
      line-height: 53px; }
      .nav-menu{
        display: flex; }
        .nav-menu li{
          margin-right: 13px; }
        .nav-menu li:last-child{
          margin-right: 0px; }
          .menu-item{
            font-size: 15px;
            position: relative;
            color: #000; }
          .menu-item:after{
            content: "";
            width: 0%;
            position: absolute;
            left: 0;
            top: 25px;
            height: 1.5px;
            background-color: #0E76BC;
            transition: width .25s ease; }
          .menu-item:hover:after{
            width: 100%; }
          .options{
            display: flex; }
            .active-opt{
              background: #0E76BC;
            }
            .options-item .menu-item:after{
              display: none; }
            .options li{
              line-height: 63px;
              margin-right: 0px;
              border-right: 1px solid #F6F4F4; }
            .options a{
              display: block;
              padding-right: 17px;
              padding-left: 17px;
              width: 100%;
              height: 100%;
              transition: background-color .25s ease; }
            .options a:hover{
              background-color: #f8f8f8; }
            .active-opt a:hover{
              background-color:#0b507e;
            }
            .options li:last-child{
              border-right: 0px; }
            .options li:nth-child(2){
              line-height: 58px; }
            .options li:last-child a{
              padding-top: 8px; }
            .options li:last-child a img{
              display: block; }
  .under-main-section{
    margin-bottom: 25px; }
    .under-main-section .main{
      max-width: 1222px;
    }
  .main{
    display: flex;
    position: relative;
    justify-content: flex-end; }
    .main-nav{
      padding-bottom: 13px;
      border-bottom: 1px solid #E6E6E6;
      margin-top: 15px; }
      .main-nav ul{
        display: flex; }
        .main-nav a{
          display: flex;
          color: #0E76BC; }
          .main-nav a span{
            font-size: 14px;
            margin-left: 6px;
            margin-right: 9px;
            line-height: 17px; }
        .main-nav a:hover{
          text-decoration: underline; }
    .resize{
      display: block;
      position: absolute;
      top: 50%;
      left: 390px;
      transform: translateY(-50%);
    }
    .sidebar{
      width: 362px;
      border-radius: 5px;
      text-align: center;
      background: #fff; }
      .sidebar-logo-container{
        width: 320px;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        .sidebar-logo-container .sidebar-logo{
          margin-right: 7px;
        }
        .sidebar-title.left-oriented{
          max-width: 100% !important;
          text-align: left;
        }
      .small{
        height: 37px;
        width: 37px; }
      .sidebar-logo{
        margin-top: 21px;
        margin-bottom: 19px; }
      .sidebar-title{
        max-width: 178px;
        margin: 0 auto;
        font-size: 15px;
        font-weight: 500; }
      .progress-bar{
        width: 285px;
        height: 5px;
        margin: 0 auto;
        margin-top: 31px;
        margin-bottom: 27px;
        background-color: #ECECEC;
        border-radius: 5px;
        position: relative; }
      .lg{
        margin-top: 0px;
        width: 320px; }
        .progress{
          width: 182px;
          height: 5px;
          background-color: #05B15B;
          border-radius: 5px;
          position: absolute; }
      .side-block-container{
        max-width: 329px;
        margin: 0 auto;
        border-top: 1px solid #F4F4F4; }
        .content{
          max-width: 285px;
          margin: 0 auto;
          margin-top: 15px; }
        .content.left-oriented{
          max-width: 100%;
          text-align: left;
        }
        .content.left-oriented .form-title{
          text-align: left;
          margin-left: 9px;
          margin-bottom: 15px;
          font-size: 14px;
          padding-top: 0;
        }
        .sub-title{
          margin-bottom: 16px;
          text-align-last: left;
          font-size: 14px;
          font-weight: 500; }
        .side-block{
          cursor: default;
          position: relative;
          max-width: 285px;
          height: 49px;
          margin-bottom: 7px;
          line-height: 47px;
          border: 1px solid #E6E6E6;
          border-radius: 5px; }
          .round{
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            height: 16px;
            width: 16px;
            border-radius: 16px;
            border: 1px solid #C7C7C7; }
          .side-block p{
            position: absolute;
            top: 47%;
            left: 60px;
            transform: translateY(-50%);
            text-align-last: left; }
        .active-block{
          border-color: #05B15B; }
          .active-round{
            border-color: #05B15B; }
            .active-dot{
              height: 10px;
              width: 10px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translateY(-50%) translateX(-50%);
              border-radius: 10px;
              background: #05B15B; }
        .sidebar-footer{
          position: relative;
          margin-top: 73px;
          margin-bottom: 8px;
          border-top: 1px solid #D2D2D2; }
        .sidebar-footer.preview{
          margin-top: 20px; }
          .sidebar-footer img{
            display: inline-block;
            position: absolute;
            top: 13px;
            left: 21px; }
          .sidebar-footer span{
            display: inline-block;
            width: 214px;
            margin: 0 auto;
            margin-top: 13px;
            text-align: left;
            font-size: 13px; }
    .content-form{
      width: 859px;
      height: 100%;
      border-radius: 5px;
      background: #fff; }
      .form-title{
        padding-top: 16px;
        margin-bottom: 5px;
        text-align: center;
        font-weight: 500;
        letter-spacing: .3px;
        font-size: 20px; }
      .form-left{
        width: 320px;
        height: 337px;
        max-width: 100%;
        text-align: left;
        padding-right: 26px; }
      form{
        width: 768px;
        height: 500px;
        padding-right: 30px;
        overflow-y: auto;
        margin: 0 auto; }
        form::-webkit-scrollbar {
          height: 100%;
          width: 5px; }
        form::-webkit-scrollbar-button{
          background-size: 100%;
          height: 6px;
          width: 10px;
          background-size: cover; }
        form::-webkit-scrollbar-button:vertical:start:decrement{
          display: block;
          background:url('../img/scrollArrowUp.png') center center;
        }
        form::-webkit-scrollbar-button:vertical:end:increment{
          display: block;
          background:url('../img/scrollArrowDown.png') center center;
        }
        form::-webkit-scrollbar-track {
          background: #CFCFCF;
          border: 2px solid transparent;
          background-clip: content-box; }
        form::-webkit-scrollbar-thumb{
          border: 1px solid #0E76BC;
          border-radius: 5px;
          background: #0E76BC; }
          form::-webkit-scrollbar-thumb:vertical{
            height: 100px;
          }
        form label{
          display: block;
          margin-bottom: 8px;
          font-weight: 500;
          font-size: 14px; }
          form label img{
            padding-left: 5px;
            cursor: pointer; }
        .input-txt{
          width: 100%;
          height: 38px;
          padding-left: 12px;
          margin-bottom: 20px;
          background: #FBFBFB;
          outline: none;
          border: 1px solid #DEDEDE;
          border-radius: 3px;
          position: relative;
        }
        .subm:before{
          content: "";
          position: absolute;
          top: -15px;
          left: 0;
          width: 151px;
          height: 1px;
          background: #D2D2D2;
        }
        .subm-left:before{
          top: -20px;
          width: 320px;
        }
        .subm{
          position: relative;
          margin-top: 15px;
          margin-left: 45px;
          width: 105px;
          height: 31px;
          border: none;
          color: #fff;
          cursor: pointer;
          outline: none;
          font-size: 14px;
          transition: background-color .25s ease;
          background: #0E76BC;
          border-radius: 5px;
        }
        .subm-left{
          margin-left: 0;
          margin-top: 37px;
          text-align: center;
        }
        .subm:hover{
          background: #0b507e;
        }
        .later{
          cursor: pointer;
          margin-left: 16px;
          font-size: 14px;
          border: none;
          outline: none;
          color: #6B6B6B;
          background: transparent;
        }

/* ============================== */

.text-form{
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px; }

.modal{
  position: absolute;
  right: 0;
  top: 64px;
  width: 415px;
  height: 746px;
  z-index: 100;
  background: #fff;
  box-shadow: -5px 0 9px -5px rgba(0,0,0,.2); }
  .modal-title{
    margin-top: 24px;
    padding-left: 17px;
    font-weight: lighter;
    font-size: 18px; }
  .modal .modal-block:first-child{
    margin-top: 40px; }
  .modal-block{
    margin-top: 24px;
    padding-bottom: 30px;
    border-bottom: 1px solid #E6E6E6;
    width: 100%;
    padding-left: 17px; }
    .block-header{
      display: flex;
      justify-content: flex-start; }
      .block-title{
        line-height: 21px;
        font-size: 15px;
        font-weight: 500;
        margin-left: 17px; }
    .block-body{
      margin-top: 5px;
      display: flex;
      position: relative; }
      .active-dot.modal-dot{
        position: absolute;
        display: block;
        left: 8px;
        top: 50%;
        background: #0E76BC;
        height: 11px;
        width: 11px; }
      .modal-txt{
        margin-left: 35px;
        font-size: 15px; }