*{
	padding: 0;
	margin: 0;
}
.head-sec{
	padding-top: 550px;

	background: url(../img/topimg.jpg) top center no-repeat;
	height: 853px;
}
.wrapper-header{
	margin: 0 auto;
	max-width: 320px;
}
.sometxt{
	font-family: arial, sans-serif;
	background-color: orange;
	color: #fff;
	font-size: 12px;
}
/*media queries*/
@media (min-width: 460px) and (max-width: 768px){
		.wrapper-header{
		max-width: 440px;
		}
}
@media (min-width: 769px) and (max-width: 960px){
		.wrapper-header{
		max-width: 7400px;
		}
}
@media (min-width: 960px;){
		.wrapper-header{
		max-width: 960px;
		}
}