.contact-box {
  background-image: linear-gradient(
                    105deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 50%, transparent 50%),
                    url('../img/contacts.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  border-radius: 5px;
  box-shadow: 0 1.5rem 4rem rgba($color-grey, .35); 
  padding: 3rem;
  position: relative;

  @include respond(tab-land) {
    background-image: linear-gradient(105deg,
                    rgba($color-white, .9) 0%,
                    rgba($color-white, .9) 60%,
                    transparent 60%), 
                    url(../img/contacts.jpg);
  }

  @include respond(tab-port) {
    background-image: linear-gradient(to right,
                      rgba($color-white, .9) 0%,
                      rgba($color-white, .9) 60%),
                      url(../img/contacts.jpg);
  }

  @include respond(tab-port) {
    text-align: center;
  }

  &__map {
    position: absolute;
    right: 7.5rem;
    top: 5rem;
    height: 350px;
    width: 350px;
    background: orangered;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, .35);
    border-radius: 10px;

    @include respond(tab-land) {
      right: 3rem;
      top: 7rem;
      height: 285px;
      width: 285px;
    }

    @include respond(tab-port) {
      position: relative;
      box-shadow: none;
      top: 0;
      right: 0;
      margin: 0 auto;
      margin-bottom: 1.5rem;
    }

    @include respond(phone) {
      height: 200px;
      width: 225px;
    }
  }

  &__item {
    width: 40%;
    font-size: 1.4rem;

    @include respond(tab-port) {
      width: 100%;
    }

    & strong {
      display: block;
      font-size: 1.6rem;
      color: $color-tertiary;
    }

    &--container {
      width: 40%;
      padding-top: 1.6rem;
      border-top: 1px solid $color-grey-dark-1;

      @include respond(tab-port) {
        width: 100%;
      }
    }

    &--link:link,
    &--link:visited {
      display: inline-block;
      // width: 100%;
      text-decoration: none;
      color: $color-tertiary;
      font-size: 1.6rem;
      padding: 3px;
      transition: all .2s;
    }

    &--link:hover {
      background-color: $color-tertiary;
      color: $color-white;
      box-shadow: 0 1rem 2rem rgba($color-grey, .15);
      transform: translateY(-2px);
    }

    &--link:active {
      box-shadow: 0 .5rem 1rem rgba($color-grey, .15);
      transform: translateY(0px);
    }
  }
}