// .slider-nav {
//   &__slide {
//     display: block;
//     height: 100%;
//     width: 300px;
//   }
// }
#lightSlider {
  text-align: center;
}

ul.lSPager.lSGallery {
  margin: 0 auto !important;
  margin-top: 1.5rem !important;
}
