.modal {
  display: none;
  position: fixed;
  z-index: 999999999;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba($color-black, .65);

  &__content {
    position: absolute;
    width: 65%; // default img size
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
      display: block;
      margin: 0 auto;
      width: 100%;
    }

    @include respond(tab-port) {
      width: 75%; // larger image on tablets
    }

    @include respond(phone) {
      width: 100%; // full width img on phones
    }
  }
}